.service-section {
  height: 5px;
  margin-top: 10.4px;
  margin-left: -1.1%;
  margin-right: -20%;
  width: 1013px;
}
.link-header-item1 {
  margin-top: -18px;
  margin-left: -30px;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Text color */
  padding: 10px 20px; /* Padding inside each item */
  cursor: pointer; /* Cursor changes to pointer on hover */
}
.shoppinngitem_underline1 {
  display: block;
  width: 315px;
  height: 2px;
  margin-top: 10.8px;
  background-color: blueviolet;
}
.shoppinngitem_underline2 {
  display: block;
  width: 315px;
  height: 2px;
  margin-top: 11px;
  background-color: blueviolet;
}
.link-header-item2 {
  margin-top: -65px;
  font-size: 16px;
  margin-left: 308px;
  font-weight: bold;
  color: #333; /* Text color */
  padding: 10px 20px; /* Padding inside each item */
  cursor: pointer; /* Cursor changes to pointer on hover */
}
.shoppinngitem_underline3 {
  display: block;
  width: 315px;
  height: 2px;
  margin-top: 10.7px;
  background-color: blueviolet;
}
.link-header-item3 {
  margin-top: -65px;
  font-size: 16px;
  margin-left: 645px;
  font-weight: bold;
  color: #333; /* Text color */
  padding: 10px 20px; /* Padding inside each item */
  cursor: pointer; /* Cursor changes to pointer on hover */
}

#dark .service-section {
  color: white;
}
@media (max-width: 1000px) {
  .service-section {
    height: auto;
  }
}
.section_title {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  height: 36px;
  padding-bottom: 8px;
  display: flex;
}

.link-header-item1:hover {
  color: #007bff; /* Change text color on hover */
}
.link-header-item2:hover {
  color: #007bff; /* Change text color on hover */
}
.link-header-item3:hover {
  color: #007bff; /* Change text color on hover */
}
.link {
  display: flex;
  text-decoration: none;
  color: rgb(182, 186, 203);
  padding: 10px 15px 10px 15px;
}
.services {
  border-radius: 5px;
  margin-top: 49px;
  color: black;
  height: 95px;
  background-color: white;
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  cursor: pointer;
}

#dark .services {
  background-color: #38004c;
  color: white;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  cursor: pointer;
}
.services:hover {
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  cursor: pointer;
  transition-duration: 1s;
  border-left: 3px solid purple;
}

.service-number {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  color: crimson;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -30px;
}

.service-number {
  margin-left: 0px;
  width: 94.5px;
  height: 94.5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.service_item_underline {
  display: block;
  width: 100%;
  height: 0.1px;
  margin-bottom: 10px;
  background-color: blueviolet;
}

.category-name-list-service {
  margin-top: -80px;
  margin-left: 96px;
  width: 200px;
}
.category-type-name {
  width: 200px;
  margin-left: 24px;
  font-size: 13px;
  margin-top: -21px;
}
.category-list-amount {
  margin-left: 99px;
  font-size: 13px;
  margin-top: -31px;
}
.offers-amount-catagory {
  margin-top: 0px;
  margin-left: 8px;
  font-size: 13px;
}
